@import '../global.less';

.appWrap {
  height: 100vh;
  width: 100vw;
  background-color: @blue;
  font-family: @font-family;
  font-size: 5em;
  color: @white;
  overflow: hidden;
  
  .header {
    border-bottom: .05em solid @white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    height: 10vh;

    > div {
      margin: 0 20px;
    }
  }

  .appContent {
    margin: 0 30px;
    height: 90vh;
  }
} 


